/*CSS stylesheet*/
body{
    
    background-color: lightgray;
     display: flex;
     flex-flow: column wrap;
     justify-content: flex-start;
    
}

.car {
    color: white;
    background: lightskyblue;
    border: 2px solid;
    border-radius: 25px;
    padding: 15px;
    margin: 1%;
    cursor: pointer;
    outline: none;
}
.car:hover {
    transform: scale(1.1, 1.1);
    border-color: red;
}

#automobile {
    color: red;
    font-style: oblique;
    height: fit-content;
    font-size: 5vh;
    
    display: flex;
    flex-direction: column ; 
    justify-items: center;
}
#ex {
    color: blue;
    margin: 0;
    font-size: 3vh;
}
.rating {
    color: blue;
}
#add-car {
    color: blue;
    background-color: gray;
    cursor: pointer;
    animation: alternate;
    height: 5vh;
    width: 10vw;
}
#add-car:hover {
    transform: scale(1.5, 1.5);
}
#buttons {
    padding: 1%;  
}
#text {
    color: blue;
    text-align: center;
}
#gifs {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-evenly;
    padding: 2%;
    background-color: black;
    border-radius: 15px;
}
#num1 {
    background-color: black;
    padding: 1%;
    border-radius: 15px;
    margin-bottom: 2%;
}
#num2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#red {
    display: flex;
    justify-content: space-around;
}
.gifAdded {
    height: 15vh;
    width: 16vw;
    cursor: pointer;

}